.adminPage {
    width: 95%;
    max-width: 1210px;
    margin: auto;
}

.AdminHeader {
    padding: 25px 0;
    border-bottom: 1px solid #00000012;
}

.AdminHeader h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.45px;
    color: #111;
}

.adminCategories {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.adminCategoriesContainer {
    padding: 20px;
    border: 1px solid #00000012;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.adminCategoriesContainer h3 {
    font-weight: 600;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 0.86px;
    text-transform: uppercase;
    color: #aaa;
}

.adminCategoriesContainer form {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 8px;
}

.adminCategoriesContainer form input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #00000017;
    border-radius: 8px;
    background-color: #fafafa;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.08px;
    color: #6b6b6b;
}

.adminCategoriesContainer form input::placeholder {
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.08px;
    color: #aaa;
}

.adminCategoriesContainer form button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #a3a3a310;
    border: 1px solid #a3a3a325;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #a3a3a3;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.adminCategoriesContainer form button:hover {
    background-color: #f59e0b10;
    border: 1px solid #f59e0b25;
    color: #f59e0b;
}

.categoryList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categoryView,
.editWrapper {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 8px;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.actions button {
    padding: 2px 5px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.editBtn,
.saveBtn {
    border: 1px solid #10b981;
    border-radius: 5px;
}

.editBtn:hover,
.saveBtn:hover {
    background-color: #10b9811a;
}

.deleteBtn,
.cancelBtn {
    border: 1px solid #ef4444;
    border-radius: 5px;
}

.deleteBtn:hover,
.cancelBtn:hover {
    background-color: #ef444414;
}

.editBtn img,
.deleteBtn img,
.saveBtn img,
.cancelBtn img {
    height: 15px;
}

.editWrapper input,
.categoryText {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #00000017;
    border-radius: 8px;
    background-color: #fafafa;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.08px;
    color: #6b6b6b;
}
