.projectsPage {
    background-color: #ededf0;
}

.header {
    padding-top: 120px;
    padding-bottom: 40px;
}

.header h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.5%;
    background: linear-gradient(
        180deg,
        #19191c 0%,
        rgba(25, 25, 28, 0) 231.82%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.header p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #3d3d3d;
}

.projects {
    padding-bottom: 40px;
}

.projectsFilters {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.projectsFilterName {
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: #28282b;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #fff;
    cursor: pointer;
}

.arrowUp {
    transform: rotate(180deg);
}

.projectsFilterValues {
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.projectsFilterValues label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.projectsFilterValues label span {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.projectsFilterValues label input {
    accent-color: #d34329;
}

.selectedMaxInvestment {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #19191c;
}

.projectsFilterSlider {
    width: 200px;
    accent-color: #d34329;
}

.slider {
    width: 100%;
}

.sliderLabels {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #57575c;
}

.projectsContainer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.projectsCard {
    border-radius: 24px;
    background-color: #f4f4f6;
    overflow: hidden;
}

.projectsCardImage {
    height: 182px;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.projectsCardImage p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #fff;
}

.projectsCardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectVerified {
    position: absolute;
    top: 16px;
    left: 24px;
    z-index: 5;
}

.projectsCardInfo {
    padding: 24px;
    box-sizing: border-box;
}

.projectsCardMainInfo {
    padding-bottom: 24px;
    box-sizing: border-box;
}

.projectsCardMainInfo h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.projectsCardMainInfo p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.projectsCardProgressNumbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectsCardProgressNumbers h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    text-transform: uppercase;
    color: #57575c;
}

.projectsCardProgressNumbers p {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.projectsCardProgressBar {
    margin-top: 16px;
    width: 100%;
    height: 8px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #dcdcdc99;
    position: relative;
}

.projectsCardProgressBarLine {
    height: 8px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d34329;
}

.projectsCardStats {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.projectsCardStat {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.projectsCardStats h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    text-transform: uppercase;
    color: #57575c;
}

.projectsCardStats p {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.projectsCardLink {
    margin-top: 16px;
    padding-top: 24px;
    border-top: 1px solid rgba(61, 61, 61, 0.12);
    display: flex;
    justify-content: flex-end;
}

.projectsCardLinkBtn {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.projectsCardLinkBtn p {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #d34329;
    position: relative;
    transition: 0.3s ease-in-out;
}

.projectsCardLinkBtn:hover p {
    color: #19191c;
}

.projectsCardLinkBtn p:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: #d34329;
    transition: 0.3s ease-in-out;
}

.projectsCardLinkBtn:hover p:after {
    background-color: #19191c;
}

.projectsCardLinkBtn svg path {
    transition: 0.3s ease-in-out;
}

.projectsCardLinkBtn:hover svg path {
    stroke: #19191c;
}

.noProjects {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #3d3d3d;
}

.Pagination {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.PaginationBtns {
    display: flex;
    align-items: center;
    gap: 4px;
}

.PaginationBtnPrev,
.PaginationBtnNext {
    padding: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: -0.06px;
    color: #2d2d31;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.PaginationBtnPrev:disabled,
.PaginationBtnNext:disabled {
    color: #b4b4b4;
    cursor: unset;
}

.PaginationBtnPrev svg,
.PaginationBtnNext svg {
    height: 20px;
}

.PaginationBtnPrev svg path,
.PaginationBtnNext svg path {
    stroke: #2d2d31;
}

.PaginationBtnPrev:disabled svg path,
.PaginationBtnNext:disabled svg path {
    stroke: #b4b4b4;
}

.PaginationBtnPrev svg {
    transform: rotate(180deg);
}

.PaginationBtnNumber {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: -0.06px;
    color: #b4b4b4;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.PaginationBtnNumber:hover {
    color: #2d2d31;
}

.PaginationBtnNumber.active {
    background-color: #2d2d31;
    color: #fff;
}

@media (max-width: 1100px) {
    .projectsContainer {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    .projectsCardInfo {
        padding: 20px;
    }
}

@media (max-width: 1000px) {
    .header {
        padding-top: 80px;
    }
    .header h2 {
        font-size: 38px;
    }
    .projectsContainer {
        grid-template-columns: 1fr;
    }
    .projectsFilterSlider {
        width: 100%;
    }
}
