.engagement {
    padding: 60px 0;
    background-color: #ededf0;
    border-bottom: 1px solid #dcdcdc;
}

.engagement h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #19191c;
}

.engagementContainer {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.engagementBox {
    padding: 24px;
    border: 1px solid rgba(61, 61, 61, 0.12);
    border-radius: 14px;
    background:
        radial-gradient(
            111.8% 111.8% at 50% 0%,
            rgba(211, 67, 41, 0.1) 0%,
            rgba(255, 255, 255, 0) 50%
        ),
        #f4f4f6;
}

.engagementBox h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.engagementBox p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

@media (max-width: 1100px) {
    .engagementContainer {
        gap: 16px;
    }
    .engagementBox {
        padding: 16px;
    }
}

@media (max-width: 1000px) {
    .engagement {
        padding: 40px 0;
    }
    .engagementContainer {
        grid-template-columns: 1fr;
    }
}
