.fakeBtn {
    width: fit-content;
    padding: 1px 1px;
    border-radius: 100px;
    background: linear-gradient(
        90deg,
        rgba(61, 61, 61, 0.4) 0%,
        #696969 50%,
        rgba(61, 61, 61, 0.4) 100%
    );
    background-size: 200% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveGradient 4s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.fakeBtnContainer {
    width: fit-content;
    padding: 4px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background-color: #222;
}

.fakeBtnCircle {
    width: 10px;
    height: 10px;
    background-color: #d34329;
    box-shadow: 0px 0px 4px 1px #f0a59740;
    border-radius: 50%;
    flex-shrink: 0;
}

.fakeBtnContainer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.5px;
    letter-spacing: 2.04px;
    text-transform: uppercase;
    color: #fff;
}

.institutionalHeader {
    width: 60%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.institutionalHeader h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.5%;
    background: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 231.82%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.institutionalHeader p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #b4b4b4;
}

.navigationButtons {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.navBtn {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    background-color: #ffffff08;
    border: 1px solid rgba(61, 61, 61, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.navBtn:hover {
    background-color: #d34329;
}

.prevBtn svg {
    transform: rotate(180deg);
}

.institutionalContainer {
    margin-top: 40px;
}

.institutionalCard {
    padding: 24px;
    box-sizing: border-box;
    background-color: #ffffff05;
    border: 1px solid rgba(61, 61, 61, 0.12);
    border-radius: 16px;
}

.institutionalCardImg {
    height: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 14px;
    background:
        linear-gradient(#222, #222) padding-box,
        conic-gradient(
                from 169.71deg at 37.5% 31.16%,
                #ffffff 0deg,
                rgba(255, 255, 255, 0) 50.63deg,
                #ffffff 155.62deg,
                rgba(255, 255, 255, 0) 273.75deg,
                #ffffff 360deg
            )
            border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.institutionalCardPosition {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.institutionalCardPosition h4 {
    width: fit-content;
    padding: 4px 10px;
    box-sizing: border-box;
    background-color: #ffffff0a;
    border: 1px solid #ffffff1a;
    border-radius: 40px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #b4b4b4;
}

.institutionalCardPosition p {
    font-weight: 400;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #858585;
}

.institutionalCardTxt {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.institutionalCardText {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.institutionalCardText h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #fff;
}

.institutionalCardText p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #b4b4b4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.institutionalCardVerified {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff0f;
    font-weight: 400;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 2.04px;
    text-transform: uppercase;
    color: #858585;
}

.partnerVerified {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #858585;
}

.grinCircle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #00d492cc;
    flex-shrink: 0;
    box-shadow: 0px 0px 6px 0px #34d399b2;
}

.institutionalAfter {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #858585;
}

@media (max-width: 1100px) {
    .institutionalHeader {
        width: 100%;
    }
    .institutionalCard {
        padding: 20px;
    }
}

@media (max-width: 1000px) {
    .fakeBtnContainer p {
        font-size: 12px;
    }
    .institutionalHeader h2 {
        font-size: 28px;
    }
    .institutionalHeader p {
        font-size: 16px;
    }
    .institutionalAfter {
        flex-direction: column;
        gap: 16px;
    }
}
