.projectPage {
    background-color: #ededf0;
    padding-top: 120px;
}

.mainInfoContainer {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: baseline;
    gap: 24px;
}

.updatedDate {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.identity {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.name {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.5%;
    background: linear-gradient(
        180deg,
        #19191c 0%,
        rgba(25, 25, 28, 0) 231.82%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.identityDescription {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.mainInfoFilters {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.mainInfoFilter {
    width: fit-content;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #d3432914;
    border: 1px solid #d3432959;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: -1%;
    text-transform: uppercase;
    color: #d34329;
}

.shareButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.shareBtn {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.shareBtn:hover {
    background-color: #d34329;
}

.preview {
    margin-top: 24px;
}

.contecntPreview {
    display: grid;
    grid-template-columns: minmax(0, 3fr) 1fr;
    gap: 50px;
}

.mainSwiper {
    border-radius: 16px;
    margin-bottom: 16px;
}

.mainSwiperBox {
    width: 100%;
    height: 450px;
    position: relative;
}

.mainSwiperBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbsSwiperItem {
    width: 100%;
    height: 175px;
    border-radius: 16px;
    overflow: hidden;
}

.thumbsSwiperItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.currentInvestments {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.progress {
    margin-top: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.progressBar {
    width: 100%;
    height: 8px;
    margin-top: 12px;
    border-radius: 8px;
    background-color: #dcdcdc;
    overflow: hidden;
}

.progressBarProcent {
    height: 100%;
    border-radius: 8px;
    background-color: #d34329;
}

.nunumberInvestors {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.nunumberInvestorsNum {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.deadline {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.daysUntil {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.contentContainer {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

.contentBlocks {
    padding-right: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #dcdcdc;
}

.contentHeading {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.contentSubtitle {
    margin-bottom: 24px;
    padding-bottom: 16px;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #57575c;
}

.contentSubtitle::after {
    content: '';
    width: 58px;
    height: 2px;
    background-color: #dcdcdc;
    position: absolute;
    bottom: 0;
    left: 0;
}

.contentBoldTxt {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.contentParagraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.contentList {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.contentListItem span {
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #d34329;
}

.contentImageWrapper {
    margin-bottom: 24px;
}

.contentImage {
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.verified p {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.verified ul li {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #57575c;
}

.checked {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #18a94d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.dealTerms p {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.dealTerms ul li {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-bottom: 1px solid #dcdcdc;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #57575c;
}

.dealTerms div {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.platform p {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.platformIdentify {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.platformImg {
    width: 56px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.platformImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.platformName {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.platformName h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.platformName span {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.platform a {
    width: 100%;
    margin-top: 16px;
    padding: 12px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #d34329;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.platform a:hover {
    background-color: #fff;
    color: #d34329;
}

.platform a svg path {
    transition: 0.3s ease-in-out;
}

.platform a:hover svg path {
    stroke: #d34329;
}

.documents p {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.documentsDescription {
    margin: 12px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #dcdcdc;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.documentsList p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.documentsList ul {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.documentsList ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.documentsList ul li a:hover {
    color: #d34329;
}

.documentsList ul li a svg {
    flex-shrink: 0;
}

.documentsList ul li a span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.tokensHeader {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tokensHeader p {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.tokensHeader span {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.tokensContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.token p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.shareBtnToken {
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.shareBtnToken span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 30ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
    transition: 0.3s ease-in-out;
}

.shareBtnToken svg {
    flex-shrink: 0;
}

.shareBtnToken svg path {
    transition: 0.3s ease-in-out;
}

.shareBtnToken:hover span {
    color: #d34329;
}

.shareBtnToken:hover svg path {
    fill: #d34329;
}

.token a {
    margin-top: 12px;
    width: 100%;
    padding: 12px 0;
    border: 1px solid #d34329;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #d34329;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.token a:hover {
    color: #fff;
    background-color: #d34329;
}

.token a svg path {
    transition: 0.3s ease-in-out;
}

.token a:hover svg path {
    stroke: #fff;
}

.about {
    margin-top: 120px;
}

.about h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.5%;
    text-align: center;
    background: linear-gradient(
        180deg,
        #19191c 0%,
        rgba(25, 25, 28, 0) 231.82%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.aboutContainer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

.aboutInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.aboutInfoItem {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.aboutInfoItem p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.aboutInfoItemValue {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.aboutInfoItemValue a {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.aboutInfoItemValue a:hover {
    color: #d34329;
}

.aboutInfoItemValueSocial {
    display: flex;
    align-items: center;
    gap: 24px;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.faq {
    margin-top: 120px;
    background-color: #19191c;
}

.download {
    background-color: #19191c;
}

.downloadContainer {
    padding: 60px 20px;
    box-sizing: border-box;
    background: radial-gradient(
        90.22% 102.33% at 50% 0%,
        #1e1e20 69.55%,
        #d3422970 94.49%
    );
    border: 1px solid rgba(61, 61, 61, 0.4);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downloadContainer h2 {
    width: 100%;
    max-width: 540px;
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    letter-spacing: -1.5%;
    text-align: center;
    color: #fff;
}

.downloadContainer p {
    margin-top: 16px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    text-align: center;
    color: #fff;
}

.downloadContainer a {
    padding: 12px 32px;
    background-color: #d34329;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.downloadContainer a:hover {
    background-color: #fff;
    color: #d34329;
}

@media (max-width: 1100px) {
    .contecntPreview {
        gap: 20px;
    }
    .contentContainer {
        gap: 20px;
    }
    .downloadContainer {
        padding: 40px 20px;
        border-radius: 20px;
    }
    .shareBtnToken span {
        max-width: 25ch;
    }
}

@media (max-width: 1000px) {
    .platformPage {
        padding-top: 80px;
    }
    .identity {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .name {
        font-size: 30px;
    }
    .mainInfoContainer {
        display: flex;
        flex-direction: column-reverse;
    }
    .contecntPreview {
        grid-template-columns: minmax(0, 1fr);
        gap: 24px;
    }
    .currentInvestments,
    .nunumberInvestorsNum,
    .daysUntil {
        font-size: 30px;
    }
    .thumbsSwiper {
        display: none;
    }
    .contentContainer {
        grid-template-columns: 1fr;
    }
    .contentBlocks {
        padding: 0;
        border: none;
    }
    .contentHeading {
        font-size: 28px;
    }
    .about {
        margin-top: 80px;
    }
    .about h2 {
        font-size: 38px;
    }
    .aboutContainer {
        grid-template-columns: 1fr;
    }
    .aboutInfo {
        grid-template-columns: 1fr;
    }
    .faq {
        margin-top: 80px;
    }
    .downloadContainer h2 {
        font-size: 38px;
        line-height: 120%;
    }
    .downloadContainer a {
        gap: 8px;
        padding: 10px 20px;
    }
    .shareBtnToken span {
        max-width: 45ch;
    }
}

@media (max-width: 400px) {
    .shareBtnToken span {
        max-width: 35ch;
    }
}
