.platforms {
    padding-top: 120px;
    padding-bottom: 60px;
    box-sizing: border-box;
    background-color: #ededf0;
}

.platformsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.platformsHeaderTxt {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.platformsHeaderTxt h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.5%;
    background: linear-gradient(
        180deg,
        #19191c 0%,
        rgba(25, 25, 28, 0) 231.82%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.platformsHeaderTxt p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #3d3d3d;
}

.platformsHeader button {
    padding: 12px 32px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #d34329;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.platformsHeader button:hover {
    background-color: #fff;
    color: #d34329;
}

.platformsHeader button svg path {
    transition: 0.3s ease-in-out;
}

.platformsHeader button:hover svg path {
    stroke: #d34329;
}

.platformsContainer {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.platformCard {
    padding: 24px;
    border: 1px solid rgba(61, 61, 61, 0.1);
    box-sizing: border-box;
    background-color: #f4f4f6;
    border-radius: 24px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.platformCard:hover {
    filter: drop-shadow(0px 0px 3px #d34329);
}

.platformCardMainInfo {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(61, 61, 61, 0.12);
    display: flex;
    align-items: center;
    gap: 12px;
}

.platformCardMainInfoImg {
    width: 56px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
}

.platformCardMainInfoImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.platformCardInfoNumbers {
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(61, 61, 61, 0.12);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.platformCardInfoNumbersTotal {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.platformCardInfoNumbers h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: -1%;
    text-transform: uppercase;
    color: #57575c;
}

.platformCardInfoNumbersTotal h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.platformCardInfoNumbersTotal p {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.platformCardInfoNumbersTotal a {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #d34329;
}

.projectsCardLocation {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectsCardLocation div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.projectsCardLocation h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: -1%;
    text-transform: uppercase;
    color: #57575c;
}

.projectsCardLocation h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.projectsCardLink {
    margin-top: 16px;
    padding-top: 24px;
    border-top: 1px solid rgba(61, 61, 61, 0.12);
    display: flex;
    justify-content: flex-end;
}

.projectsCardLinkBtn {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.projectsCardLinkBtn p {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #d34329;
    position: relative;
    transition: 0.3s ease-in-out;
}

.projectsCardLinkBtn:hover p {
    color: #19191c;
}

.projectsCardLinkBtn p:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: #d34329;
    transition: 0.3s ease-in-out;
}

.projectsCardLinkBtn:hover p:after {
    background-color: #19191c;
}

.projectsCardLinkBtn svg path {
    transition: 0.3s ease-in-out;
}

.projectsCardLinkBtn:hover svg path {
    stroke: #19191c;
}

@media (max-width: 1100px) {
    .platforms {
        padding-top: 60px;
    }
    .platformsContainer {
        gap: 16px;
    }
    .platformCard {
        padding: 20px;
    }
}

@media (max-width: 1000px) {
    .platforms {
        padding: 40px 0;
    }
    .platformsHeader {
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
    }
    .platformsHeaderTxt h2 {
        font-size: 28px;
    }
    .platformsContainer {
        grid-template-columns: 1fr;
    }
    .platformsHeader button {
        width: 100%;
        justify-content: center;
    }
}
