.platformsPage {
    background-color: #ededf0;
}

.header {
    padding-top: 120px;
    padding-bottom: 40px;
}

.header h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.5%;
    background: linear-gradient(
        180deg,
        #19191c 0%,
        rgba(25, 25, 28, 0) 231.82%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.header p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #3d3d3d;
}

.platformsSection {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    gap: 24px;
}

.filtersHeader h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.platformsFiltersContainer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.platformsFilter h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.checkboxList {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkboxLabel {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.checkboxLabel span {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.platformsSearch {
    display: flex;
    justify-content: flex-end;
}

.searchInput {
    width: 290px;
    padding: 12px 20px 12px 42px;
    box-sizing: border-box;
    border: 1px solid #28282b1a;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.09217 0.0303001C3.97913 0.150301 2.98783 0.546968 2.11826 1.2203C1.2487 1.89363 0.64 2.7303 0.292174 3.7303C0.166957 4.07697 0.0869565 4.3603 0.0521739 4.5803C0.0173913 4.8003 0 5.10363 0 5.4903C0 5.78363 0.00347826 5.99363 0.0104348 6.1203C0.0173913 6.24697 0.0417391 6.38363 0.0834783 6.5303C0.417391 8.0503 1.2313 9.2303 2.52522 10.0703C3.13739 10.457 3.84 10.737 4.63304 10.9103C4.88348 10.9503 5.2313 10.9736 5.67652 10.9803C6.12174 10.987 6.46957 10.9703 6.72 10.9303C7.06783 10.8636 7.42261 10.7636 7.78435 10.6303C8.14609 10.497 8.46609 10.3436 8.74435 10.1703L8.99478 10.0303L10.1426 11.1303C10.713 11.6636 11.0574 11.9803 11.1757 12.0803C11.2939 12.1803 11.3878 12.237 11.4574 12.2503C11.6661 12.277 11.833 12.237 11.9583 12.1303C12.0835 12.0236 12.16 11.9003 12.1878 11.7603C12.2157 11.6203 12.1878 11.4903 12.1043 11.3703C12.0487 11.2636 11.6765 10.8836 10.9878 10.2303C10.2991 9.57697 9.95478 9.2403 9.95478 9.2203C9.95478 9.2003 10.0243 9.11697 10.1635 8.9703C10.4557 8.6503 10.7061 8.2703 10.9148 7.8303C11.1235 7.3903 11.2765 6.9303 11.3739 6.4503C11.4296 6.22363 11.4539 5.89363 11.447 5.4603C11.44 5.02697 11.4087 4.69697 11.353 4.4703C11.0191 2.93697 10.1983 1.7503 8.89044 0.9103C8.34783 0.563634 7.74261 0.313634 7.07478 0.1603C6.40696 0.00696754 5.74609 -0.0363665 5.09217 0.0303001ZM6.59478 1.2903C7.49913 1.4503 8.27478 1.8503 8.92174 2.4903C9.5687 3.1303 9.97565 3.8903 10.1426 4.7703C10.1704 4.9303 10.1843 5.17363 10.1843 5.5003C10.1843 5.82697 10.1704 6.0703 10.1426 6.2303C10.0591 6.65697 9.90957 7.0703 9.69391 7.4703C9.47826 7.8703 9.21043 8.22363 8.89044 8.5303C8.30609 9.07697 7.6313 9.44697 6.86609 9.6403C6.10087 9.83363 5.33565 9.83697 4.57044 9.6503C3.80522 9.46363 3.13739 9.09697 2.56696 8.5503C2.03826 8.04363 1.66261 7.45697 1.44 6.7903C1.37043 6.56363 1.32174 6.3603 1.29391 6.1803C1.26609 6.0003 1.25217 5.7703 1.25217 5.4903C1.25217 5.1703 1.26609 4.9303 1.29391 4.7703C1.34957 4.47697 1.44696 4.1703 1.58609 3.8503C1.72522 3.5303 1.88522 3.24363 2.06609 2.9903C2.1913 2.8303 2.35478 2.65363 2.55652 2.4603C2.75826 2.26697 2.94261 2.11697 3.10957 2.0103C3.37391 1.82363 3.67652 1.66363 4.01739 1.5303C4.35826 1.39697 4.66783 1.3103 4.94609 1.2703L5.30087 1.2103C5.38435 1.19697 5.58609 1.2003 5.90609 1.2203C6.22609 1.2403 6.45565 1.26363 6.59478 1.2903Z' fill='%2357575C'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 22px center;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #19191c;
}

.searchInput::placeholder {
    color: #57575c;
}

.searchInput:not(:placeholder-shown) {
    background-image: none;
    padding-left: 20px;
}

.platformsGrid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.platformCard {
    padding: 24px;
    border: 1px solid rgba(61, 61, 61, 0.1);
    box-sizing: border-box;
    background-color: #f4f4f6;
    border-radius: 24px;
}

.platformCardMainInfo {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(61, 61, 61, 0.12);
    display: flex;
    align-items: center;
    gap: 12px;
}

.platformCardMainInfoImg {
    width: 56px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
}

.platformCardMainInfoImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.platformCardInfoNumbers {
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(61, 61, 61, 0.12);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.platformCardInfoNumbersTotal {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.platformCardInfoNumbers h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: -1%;
    text-transform: uppercase;
    color: #57575c;
}

.platformCardInfoNumbersTotal h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.platformCardInfoNumbersTotal p {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.platformCardInfoNumbersTotal a {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #d34329;
}

.projectsCardLocation {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectsCardLocation div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.projectsCardLocation h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: -1%;
    text-transform: uppercase;
    color: #57575c;
}

.projectsCardLocation h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.projectsCardLink {
    margin-top: 16px;
    padding-top: 24px;
    border-top: 1px solid rgba(61, 61, 61, 0.12);
    display: flex;
    justify-content: flex-end;
}

.projectsCardLinkBtn {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.projectsCardLinkBtn p {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #d34329;
    position: relative;
    transition: 0.3s ease-in-out;
}

.projectsCardLinkBtn:hover p {
    color: #19191c;
}

.projectsCardLinkBtn p:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: #d34329;
    transition: 0.3s ease-in-out;
}

.projectsCardLinkBtn:hover p:after {
    background-color: #19191c;
}

.projectsCardLinkBtn svg path {
    transition: 0.3s ease-in-out;
}

.projectsCardLinkBtn:hover svg path {
    stroke: #19191c;
}

.noPlatforms {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #3d3d3d;
}

.Pagination {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.PaginationBtns {
    display: flex;
    align-items: center;
    gap: 4px;
}

.PaginationBtnPrev,
.PaginationBtnNext {
    padding: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: -0.06px;
    color: #2d2d31;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.PaginationBtnPrev:disabled,
.PaginationBtnNext:disabled {
    color: #b4b4b4;
    cursor: unset;
}

.PaginationBtnPrev svg,
.PaginationBtnNext svg {
    height: 20px;
}

.PaginationBtnPrev svg path,
.PaginationBtnNext svg path {
    stroke: #2d2d31;
}

.PaginationBtnPrev:disabled svg path,
.PaginationBtnNext:disabled svg path {
    stroke: #b4b4b4;
}

.PaginationBtnPrev svg {
    transform: rotate(180deg);
}

.PaginationBtnNumber {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: -0.06px;
    color: #b4b4b4;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.PaginationBtnNumber:hover {
    color: #2d2d31;
}

.PaginationBtnNumber.active {
    background-color: #2d2d31;
    color: #fff;
}

@media (max-width: 1000px) {
    .header {
        padding-top: 80px;
    }
    .header h2 {
        font-size: 38px;
    }
}
