.downloadContainer {
    padding: 60px 20px;
    box-sizing: border-box;
    background: radial-gradient(
        90.22% 102.33% at 50% 0%,
        #1e1e20 69.55%,
        #d3422970 94.49%
    );
    border: 1px solid rgba(61, 61, 61, 0.4);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downloadContainer h2 {
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    letter-spacing: -1.5%;
    text-align: center;
    color: #fff;
}

.downloadContainer p {
    margin-top: 16px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    text-align: center;
    color: #fff;
}

.downloadContainer a {
    padding: 12px 32px;
    background-color: #d34329;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.downloadContainer a:hover {
    background-color: #fff;
    color: #d34329;
}

.downloadContainer a svg path {
    transition: 0.3s ease-in-out;
}

.downloadContainer a:hover svg path {
    stroke: #d34329;
    fill: #d34329;
}

@media (max-width: 1100px) {
    .downloadContainer {
        padding: 40px 20px;
        border-radius: 20px;
    }
}

@media (max-width: 1000px) {
    .downloadContainer h2 {
        font-size: 38px;
        line-height: 120%;
    }
    .downloadContainer a {
        gap: 8px;
        padding: 10px 20px;
    }
}

@media (max-width: 420px) {
    .downloadContainer a span {
        display: none;
    }
}
