.header {
    padding-top: 120px;
    padding-bottom: 40px;
}

.header h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.5%;
    background: linear-gradient(
        180deg,
        #19191c 0%,
        rgba(25, 25, 28, 0) 231.82%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.header p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #3d3d3d;
}

@media (max-width: 1000px) {
    .header {
        padding-top: 80px;
    }
    .header h2 {
        font-size: 38px;
    }
}
