.types {
    padding: 40px 0 95px 0;
    background-color: #ededf0;
}

.typesHeader {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.fakeBtn {
    width: fit-content;
    padding: 1px 1px;
    border-radius: 100px;
    background: linear-gradient(
        90deg,
        rgba(61, 61, 61, 0.4) 0%,
        #696969 50%,
        rgba(61, 61, 61, 0.4) 100%
    );
    background-size: 200% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveGradient 4s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.fakeBtnContainer {
    width: fit-content;
    padding: 4px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background-color: #222;
}

.fakeBtnCircle {
    width: 10px;
    height: 10px;
    background-color: #d34329;
    box-shadow: 0px 0px 4px 1px #f0a59740;
    border-radius: 50%;
    flex-shrink: 0;
}

.fakeBtnContainer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.5px;
    letter-spacing: 2.04px;
    text-transform: uppercase;
    color: #fff;
}

.typesHeaderText {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    text-align: center;
    color: #3d3d3d;
}

.typesContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.typesBox {
    width: fit-content;
    padding: 8px 12px;
    box-sizing: border-box;
    background-color: #f4f4f6;
    border: 1px solid rgba(61, 61, 61, 0.12);
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.typesBox h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.typesBoxIcon {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303033;
}

@media (max-width: 1000px) {
    .types {
        padding: 40px 0;
    }
    .typesContainer {
        gap: 8px;
    }
    .typesBox {
        padding: 6px;
        border-radius: 8px;
        gap: 4px;
    }
    .typesBoxIcon {
        width: 20px;
        height: 20px;
    }
    .typesBoxIcon img {
        width: 14px;
    }
    .typesBox h4 {
        font-size: 12px;
    }
}
