@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Figtree';
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.sectionMarginTop {
    margin-top: 120px;
}

.verifeidBox {
    width: fit-content;
    padding: 5.25px 10px;
    border: 1.5px solid #00bc7d;
    border-radius: 100px;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        linear-gradient(
            91.36deg,
            rgba(0, 86, 57, 0.8) 0.95%,
            rgba(0, 212, 146, 0.8) 97.85%
        );
    backdrop-filter: blur(23px);
    box-shadow: 0px 0px 14.1px 0px #ffffff29;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14.5px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d34329;
}

.swiper-button-prev {
    left: -20px;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    height: 14px;
}

@media (max-width: 1100px) {
    .wrapper {
        width: 95%;
    }
    .sectionMarginTop {
        margin-top: 80px;
    }
}
