.articlePage {
    padding-top: 120px;
    scroll-behavior: smooth;
    background-color: #ededf0;
}

.articleContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.articleContent {
    padding-right: 24px;
    box-sizing: border-box;
    border-right: 2px solid #dcdcdc;
}

.articleDate {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.articleContentMain h2 {
    margin-top: 16px;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.5%;
    background: linear-gradient(
        180deg,
        #19191c 0%,
        rgba(25, 25, 28, 0) 231.82%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.articleContentMain h3 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
}

.articleAuthorShare {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articleAuthor {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #19191c;
}

.shareButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.shareBtn {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.shareBtn:hover {
    background-color: #d34329;
}

.articleImage {
    margin-top: 24px;
}

.articleImage img {
    width: 100%;
    border-radius: 24px;
}

.articleText {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contentHeading {
    scroll-margin-top: 120px;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1.5%;
    color: #19191c;
}

.contentText {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
    white-space: pre-wrap;
    word-break: break-word;
}

.articleTableContainer {
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.articleTableContainer h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: -1%;
    text-transform: uppercase;
    color: #57575c;
}

.hashLink {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #57575c;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.hashLink:hover,
.activeHashLink {
    font-weight: 800;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -1%;
    color: #d34329;
}

.darkBg {
    margin-top: 120px;
    background-color: #19191c;
}

@media (max-width: 1100px) {
    .articleContainer {
        gap: 16px;
    }
    .articleContent {
        padding-right: 16px;
    }
    .articleImage img {
        border-radius: 16px;
    }
}

@media (max-width: 1000px) {
    .articlePage {
        padding-top: 80px;
    }
    .articleContentMain h2 {
        font-size: 38px;
    }
    .articleAuthorShare {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .articleContainer {
        grid-template-columns: 1fr;
    }
    .articleContent {
        padding: 0;
        border: none;
    }
    .articleTableContainer {
        padding: 16px 0;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
    }
    .activeHashLink {
        font-weight: 400;
        color: #57575c;
    }
    .darkBg {
        margin-top: 80px;
    }
}
